html{
    font-size: 62.5%;
}
.banner{
    color: white;
    object-fit: contain;
    height: 500px;
}
.banner__contents{
    margin-left: 30px;
    padding-top: 140px;

}
.banner__title{
    font-weight: 800;
    font-size: 4rem;
    box-shadow: 0 2px 3px rgba(0.3, 0.3, 0.3, black);
}
.banner__description{
    font-size: 1.8rem;
    max-width: 460px;
}
.banner__buttons{
    display: flex;
}
.banner__button{
    cursor: pointer;
    color:#fff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.5);
    border: none;
    outline: none;
    min-width: 90px;
    

}
.banner__button:nth-child(2){
    margin-left: 20px;
}
.banner__button:hover{
    color: #000;
    background-color: #e6e6e6;
    transition: all 1s;
}
.banner--fadeBottom{
    height: 230px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,0.61),#111);
}