.nav{
    position: fixed;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    transition-timing-function: ease-in;
    transition:  all 1s;
}
.nav__black{
    /* background-image: linear-gradient(180deg,rgb(92 92 92 / 61%),rgb(82 82 82)); */
    background-color: #111;
   
}
.nav__logo{
    height: 100%;
    width: auto;
    object-fit: contain;
}